.news_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news_title {
  padding-left: 99px;
  font-size: 20px;
  font-weight: 700;
  color: #575257;
}

.news_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 0px) and (max-width: 1299px) {
  .news_section {
    gap: 20px;
  }
  
  .news_title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .news_wrapper {
    gap: 20px;
  }
}