.bgSize {
  padding-bottom: 50px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bgSize button {
  width: 340px;
  height: 60px;
  font-size: 20px;
  color: #595157;
  background-color: #D9D9D9;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.bgSize button:hover {
  background-color: #595157;
  color: #fff;
}

/* Стили для модального окна */
.modal {
  background: #fff;
  padding: 40px 30px 20px 30px;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
  max-height: 94vh;
  /* Ограничиваем высоту модального окна */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  /* Добавляем вертикальную прокрутку */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback_title :first-child {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #595157;
}

.feedback_title :last-child {
  font-size: 14px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup label {
  font-size: 20px;
  font-weight: 700;
  color: #575257;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #575257;
  box-sizing: border-box;
  outline: none;
}

.formGroup input {
  height: 50px;
}

.formActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formActions p {
  text-align: center;
  font-size: 14px;
  color: #575257;
}

.formActions button {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #D9D9D9;
  color: #595157;
  transition: all 0.3s ease-in-out;
}

.formActions button:hover {
  background-color: #595157;
  color: #fff;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #575257;
  cursor: pointer;
}


@media (min-width: 0px) and (max-width: 1299px) {
  .bgSize {
    height: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgSize button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

  .modal {
    padding: 20px;
    gap: 15px;
  }

  .form {
    gap: 10px;
  }

  .formGroup label {
    font-size: 14px;
    font-weight: 600;
  }

  .formGroup input {
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid #575257;
  }

  .formGroup textarea {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #575257;
  }

  .formGroup input {
    height: 40px;
  }

  .formActions button {
    height: 50px;
    font-size: 16px;
  }

  .formActions p {
    text-align: center;
    font-size: 12px;
    color: #575257;
  }

  .feedback_title :first-child {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #595157;
  }

  .feedback_title :last-child {
    font-size: 12px;
    text-align: center;
  }
}